<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/basic.css">
    <link rel="stylesheet" href="/header.css">
    <link rel="stylesheet" href="/error.css">
    <title>Error</title>
</head>
<body>
    <%- include("./includes/header.ejs") %>
    <div id="error">
         <p>ERROR:-  <%= err.message %></p>
    </div>
   
</body>
</html>